@page

@model RegisterModel
@{
    ViewData["Title"] = "Registro";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/registro.css" asp-append-version="true">

<h1>@ViewData["Title"]</h1>

<div class="row">

    <div class="col-md-4">

        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Crear nueva Cuenta </h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Nombre" class="form-control" autocomplete="given-name" aria-required="true" placeholder="Nombre" />
                <label asp-for="Input.Nombre">Nombre</label>
                <span asp-validation-for="Input.Nombre" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Apellido" class="form-control" autocomplete="given-Apellido" aria-required="true" placeholder="Apellido" />
                <label asp-for="Input.Apellido">Apellido</label>
                <span asp-validation-for="Input.Apellido" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Correo Electrónico</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Contraseña</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirmar Contraseña</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Registrar</button>
        
        </form>
    
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
